$primary-100: #EAF1F8;
$primary-500: #065BAA;

$neutral-200: #F3F3F3;
$neutral-400: #BCBEBE;
$neutral-500: #9D9F9F;
$neutral-600: #696A6B;
$neutral-700: #121516;

$error-500: #D8000C;

$warning-100: #FFDA55;
$warning-500: #924600;

$tertiary-100: #D7F2E7;
$tertiary-500: #27B67C;

$Secondary-500: #BD1A8D;
