@font-face {
  font-family: iransans;
  src: url('fonts/iransans.eot');
  src: url('fonts/iransans.eot?#iefix') format('embedded-opentype'),
  url('fonts/iransans.woff2') format('woff2'),
  url('fonts/iransans.woff') format('woff'),
  url('fonts/iransans.ttf') format('truetype');
  font-weight: normal;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: iransans-fnum;
  src: url('fonts/iransans-fnum.eot');
  src: url('fonts/iransans-fnum.eot?#iefix') format('embedded-opentype'),
  url('fonts/iransans-fnum.woff2') format('woff2'),
  url('fonts/iransans-fnum.woff') format('woff'),
  url('fonts/iransans-fnum.ttf') format('truetype');
  font-weight: normal;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: iransans-medium;
  src: url('fonts/iransans-medium.eot');
  src: url('fonts/iransans-medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/iransans-medium.woff2') format('woff2'),
  url('fonts/iransans-medium.woff') format('woff'),
  url('fonts/iransans-medium.ttf') format('truetype');
  font-weight: normal;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: iransans-fnum-medium;
  src: url('fonts/iransans-fnum-medium.eot');
  src: url('fonts/iransans-fnum-medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/iransans-fnum-medium.woff2') format('woff2'),
  url('fonts/iransans-fnum-medium.woff') format('woff'),
  url('fonts/iransans-fnum-medium.ttf') format('truetype');
  font-weight: normal;
  font-display: fallback;
  font-style: normal

}

@font-face {
  font-family: iransans-enum;
  src: url('fonts/iransans.eot');
  src: url('fonts/iransans.eot?#iefix') format('embedded-opentype'),
  url('fonts/iransans.woff2') format('woff2'),
  url('fonts/iransans.woff') format('woff'),
  url('fonts/iransans.ttf') format('truetype');
  font-weight: normal;
  font-display: fallback;
  font-style: normal;
}
